@model AR.SimTaxi.Data.Entities.Car

@{
    ViewData["Title"] = "Details";
}

<h1>
    Car Details
    <span class="text-primary">@Model.Model - @Model.PlateNumber</span>    
</h1>

<hr />


<dl class="row">

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Driver)
    </dt>
    <dd class="col-sm-10">

        @if(Model.Driver == null)
        {
            <span class="fst-italic text-muted">n/a</span>
        }
        else
        {
            <span>
                @Html.DisplayFor(model => model.Driver.FirstName)
            </span>
            <span>
                @Html.DisplayFor(model => model.Driver.LastName)
            </span>
        }

    </dd>

    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Model)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Model)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.Color)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.Color)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PlateNumber)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PlateNumber)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.ProductionYear)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.ProductionYear)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.CarType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.CarType)
    </dd>
    <dt class="col-sm-2">
        @Html.DisplayNameFor(model => model.PowerType)
    </dt>
    <dd class="col-sm-10">
        @Html.DisplayFor(model => model.PowerType)
    </dd>
</dl>


<div>
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ms-2">Edit</a>
</div>
