@model AR.SimTaxi.Data.Entities.Driver

@{
    ViewData["Title"] = "Driver Details";
}

<h1>
    Driver Details
    <span class="text-primary">@Model.FirstName @Model.LastName</span>    
</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.LastName)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DateOfBirth)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>

    <hr />

    <h4>Driver Cars</h4>

    <hr />

    @if(Model.Cars.Count > 0)
    {
        <table class="table table-hover table-striped">
            <thead>
                <tr>
                    <th>
                        Model
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Plate Number
                    </th>
                    <th>
                        Production Year
                    </th>
                    <th>
                        Car Type
                    </th>
                    <th>
                        Power Type
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model.Cars)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => car.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.PlateNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.ProductionDate)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.CarType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.PowerType)
                        </td>
                        <td>
                            <a asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id">Details</a>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="text-center fw-bold">
            No cars are assigned to the Driver!
        </h4>           
    }

</div>

<div class="mt-5">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ms-2">Edit</a>
</div>
