@using AR.SimTaxi.Models.Drivers
@model DriverDetailsViewModel

@{
    ViewData["Title"] = "Driver Details";
}

<h1>
    Driver Details
    <span class="text-primary">@Model.FullName</span>    
</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.FullName)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.FullName)
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DateOfBirth)
        </dt>
        <dd class = "col-sm-10">
            @Model.DateOfBirth.ToLongDateString()
        </dd>

        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Gender)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Gender)
        </dd>
    </dl>

    <hr />

    <h4 class="mb-4">Cars</h4>

    @if(Model.Cars.Count > 0)
    {
        <table class="table table-hover table-striped data-tables">
            <thead>
                <tr>
                    <th>
                        Model
                    </th>
                    <th>
                        Color
                    </th>
                    <th>
                        Plate Number
                    </th>
                    <th>
                        Year
                    </th>
                    <th>
                        Car Type
                    </th>
                    <th>
                        Power Type
                    </th>
                    <th>
                        Actions
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var car in Model.Cars)
                {
                    <tr>
                        <td>
                            @Html.DisplayFor(modelItem => car.Model)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.Color)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.PlateNumber)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.Year)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.CarType)
                        </td>
                        <td>
                            @Html.DisplayFor(modelItem => car.PowerType)
                        </td>
                        <td>

                            <a class="text-decoration-none" asp-controller="Cars" asp-action="Details" asp-route-id="@car.Id" title="Details">
                                <i class="fa-solid fa-circle-info text-info"></i>
                            </a>

                            <a href="#" class="text-decoration-none ms-1" title="Unassign Car" data-bs-toggle="modal" data-bs-target="#unassignModal_@car.Id">
                                <i class="fa-solid fa-circle-xmark text-danger"></i>
                            </a>

                            <!-- Unassign Car Modal -->
                            <div class="modal fade" id="unassignModal_@car.Id" tabindex="-1" aria-labelledby="unassignModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            <h1 class="modal-title fs-5" id="unassignModalLabel">Unassign Car</h1>
                                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                                        </div>
                                        <div class="modal-body">

                                            <h4>Are you sure you want to Unassign <span class="text-danger">@car.Info</span>?</h4>

                                        </div>
                                        <div class="modal-footer">
                                            <form asp-action="UnassignCar">
                                                <input type="hidden" name="carId" value="@car.Id" />
                                                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                                                <button type="submit" class="btn btn-danger">Unassign</button>
                                            </form>
                                        </div>
                                    </div>
                                </div>
                            </div>

                        </td>
                    </tr>
                }
            </tbody>
        </table>
    }
    else
    {
        <h4 class="text-center fw-bold">
            No cars are assigned to the Driver!
        </h4>           
    }

</div>

<div class="mt-5">
    <a asp-action="Index" class="btn btn-secondary">Back to List</a>
    <a asp-action="Edit" asp-route-id="@Model?.Id" class="btn btn-primary ms-2">Edit</a>
</div>
